extends layout

block content
  .jumbotron
    h1 #{title}
    div#mailHeader(class="text-right") Mudit Manu Paliwal
      a(href='mailto:mupaliwa@microsoft.com')  (mupaliwa@microsoft.com)
  div#panel-main(class="panel panel-default")
    div#panel-body(class="panel-body")
      form(name="login", action="/submitLog", method="post")
        div#InputRow(class="row")
          label Input Cafe log line, one line at a time
        div.input
          span.label logLineInput
          textarea(id="logLineInput", name="logLineInput", rows=3, columns=30, class="logLineInput") #{defaultData}
        div#buttonRow(class="row")
          //button(onclick='onButtonClick()', class="btn btn-success") Parse Cafe Log
          button#btnSubmit(type="submit", class="btn btn-success") Generate Sharing Link
          a(target="_blank", href="https://msft.spoppe.com/teams/exchange/SEC/_layouts/OneNote.aspx?id=%2Fteams%2Fexchange%2FSEC%2FShared%20Documents%2FExternal%20Programmability%2FEP%20On-Call%20Notes&wd=target%28Understanding%20CAFE%20Protocol%20Logs.one%7CE7CD14AB-73A1-4AC4-BE10-3ACC144177DB%2FProtocol%20Log%20Schema%7C889B0D59-5E4B-4B90-9EF2-107A27DA5D0C%2F%29", class="btn btn-link") Understand Cafe Log Columns
  
  div#buttonGroup(class="btn-group btn-group-justified")
    a(href="#", onclick='onButtonClick()', class="btn btn-primary") All Data
    a(href="#", onclick='onRoutingButtonClick()', class="btn btn-primary") Routing Summary Data
    a(href="#", onclick='onLatencyButtonClick()', class="btn btn-primary") Latency Data
  div#computedtableContainer(class="table-responsive")
    table#computedTable(class="table table-bordered table-striped")
  div#resultTableContainer(class="table-responsive")
    table#resulttable(class="table table-bordered table-striped")

  script(type='text/javascript', src='/javascripts/cafeLogViewer.js').
  script(type='text/javascript', src='/javascripts/common.js').

